<div id="map" ng-controller="MapCtrl">
  <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
    <layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></layer>
  </google-map>
  <div class="jobs">
    <input type="text" id="search" ng-model="search" placeholder="Search">
    <div class="options" ng-click="map.showHeat = !map.showHeat" ng-class="{'heat-is-on':map.showHeat}">Show heat</div>
    <ul>
      <li ng-repeat="job in uppdrag | filter:search" ng-click="centerOnJob(job.Position)">
        {{ job.Befattning }}
        <div class="city">{{ job.Ort }}, {{ job.Lan }}</div>
      </li>
      <li class="results">{{ uppdrag.length }} uppdrag</li>
    </ul>
  </div>
</div>
