#map {
  position: relative;
}

google-map {
  width:100%;
}

.angular-google-map-container {
  height: 100%;
}

.controls {
  .position(bottom-right, 0, 0);

  background:rgba(0,0,0,0.6);
  color:#fff;
  padding:20px;
}